In [62]:
import pandas as pd
bike_data = pd.read_csv('data/citibike-tripdata.csv', sep=',')

starttime                                       — время начала поездки (дата, время); <br>
stoptime                                        — время окончания поездки (дата, время);<br>
start station id                                — идентификатор стартовой стоянки;<br>
start station name                              — название стартовой стоянки;<br>
start station latitude, start station longitude — географическая широта и долгота стартовой стоянки;<br>
end station id                                  — идентификатор конечной стоянки;<br>
end station name                                — название конечной стоянки;<br>
end station latitude, end station longitude     — географическая широта и долгота конечной стоянки;<br>
bikeid                                          — идентификатор велосипеда;<br>
usertype                                        — тип пользователя (Customer — клиент с подпиской на 24 часа или на три дня, Subscriber — подписчик с годовой арендой велосипеда);<br>
birth year                                      — год рождения клиента;<br>
gender                                          — пол клиента (0 — неизвестный, 1 — мужчина, 2 — женщина).<br>

In [63]:
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 14 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station id         299831 non-null  float64
 3   start station name       299831 non-null  object
 4   start station latitude   300000 non-null  float64
 5   start station longitude  300000 non-null  float64
 6   end station id           299831 non-null  float64
 7   end station name         299831 non-null  object
 8   end station latitude     300000 non-null  float64
 9   end station longitude    300000 non-null  float64
 10  bikeid                   300000 non-null  int64
 11  usertype                 300000 non-null  object
 12  birth year               300000 non-null  int64
 13  gender                   300000 non-null  int64
dtypes: float64(6), int64(3), object(5)
memory usage: 32.0+ MB

In [64]:
bike_data['bikeid'].value_counts()

33887    107
34358    104
34159    103
34258    103
33916    102
        ...
18587      1
17324      1
29593      1
33157      1
25794      1
Name: bikeid, Length: 10004, dtype: int64

In [65]:
bike_data['usertype'].value_counts(normalize=True)

mode_usertype = bike_data['usertype'].mode()[0]
count_mode_user = bike_data[bike_data['usertype'] == mode_usertype].shape[0]
print(round(count_mode_user / bike_data.shape[0], 2))

0.77

In [66]:
bike_data['gender'].value_counts()

1    183582
2     74506
0     41912
Name: gender, dtype: int64

In [67]:
bike_data['start station id'].unique().shape[0]

760

In [68]:
bike_data['end station id'].unique().__len__()

766

In [69]:
2018-bike_data['birth year'].max()

16

In [70]:
bike_data['start station name'].value_counts().index[-1]

'Eastern Pkwy & Washington Ave'

In [71]:
bike_data['end station name'].value_counts().index[0]

'West St & Chambers St'

In [72]:
bike_data.drop(['start station id','end station id'],axis=1,inplace=True)
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  object
 1   stoptime                 300000 non-null  object
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  birth year               300000 non-null  int64
 11  gender                   300000 non-null  int64
dtypes: float64(4), int64(3), object(5)
memory usage: 27.5+ MB

In [73]:
age=2018-bike_data['birth year']
bike_data['age']=age
bike_data.drop('birth year',axis=1,inplace=True)

In [79]:
bike_data[bike_data['age']>60].shape

(11837, 12)

In [82]:
bike_data['starttime']=pd.to_datetime(bike_data['starttime'], dayfirst=True)
bike_data['stoptime']=pd.to_datetime(bike_data['stoptime'], dayfirst=True)
bike_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   starttime                300000 non-null  datetime64[ns]
 1   stoptime                 300000 non-null  datetime64[ns]
 2   start station name       299831 non-null  object
 3   start station latitude   300000 non-null  float64
 4   start station longitude  300000 non-null  float64
 5   end station name         299831 non-null  object
 6   end station latitude     300000 non-null  float64
 7   end station longitude    300000 non-null  float64
 8   bikeid                   300000 non-null  int64
 9   usertype                 300000 non-null  object
 10  gender                   300000 non-null  int64
 11  age                      300000 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(3)
memory usage: 27.5+ MB

In [87]:
trip_duration = bike_data['stoptime'] - bike_data['starttime']
bike_data['trip duration'] = trip_duration

In [88]:
bike_data['trip duration'][3]

Timedelta('0 days 00:07:16.837000')

In [97]:
def dow(x):
    if x==5 or x==6:
        return 1
    return 0

bike_data['weekend'] = bike_data['starttime'].dt.day_of_week.apply(lambda x: 1 if (x==5 or x==6) else 0)

bike_data[bike_data['weekend']==1].shape[0]

115135

In [101]:
def get_time_of_day(time):
    if 0 <= time <=6 :
        return 'night'
    elif 6 < time <=12:
        return 'morning'
    elif 12 < time <=18:
        return 'day'
    return 'evening'

bike_data['starttime'].dt.hour
bike_data['time_of_day'] = bike_data['starttime'].dt.hour.apply(get_time_of_day)

bike_data['time_of_day']

0           night
1           night
2           night
3           night
4           night
           ...
299995    evening
299996    evening
299997    evening
299998    evening
299999    evening
Name: time_of_day, Length: 300000, dtype: object

In [108]:
mask_day=bike_data['time_of_day']=='day'
mask_night=bike_data['time_of_day']=='night'

round (bike_data[mask_day].shape[0] / bike_data[mask_night].shape[0])

9