In [1]:
import pandas as pd

customer_df = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })
        
        
def delete_columns(df, col=[]):
    for i in col:
        if i not in df:
            return None
    return df.drop(col, axis=1)



  
    

print (delete_columns(customer_df, col=['number','cust_age']))

   cust_id  cust_sale  cust_year_birth  cust_order
0      128       0.00             2008        1400
1     1201       0.00             2000       14142
2     9832       0.20             2002         900
3     4392       0.15             2000        1240
4     7472       0.30             1961        8430

In [2]:
customer_df.columns

Index(['number', 'cust_id', 'cust_age', 'cust_sale', 'cust_year_birth',
       'cust_order'],
      dtype='object')

In [3]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.head()

   country  population    square
0   Англия       56.29    133396
1   Канада       38.05   9984670
2      США      322.28   9826630
3   Россия      146.24  17125191
4  Украина       45.50    603628

In [4]:
sq=countries_df['population']*1000000/countries_df['square']
round(sq.mean(),2)

84.93

In [5]:
for i in countries_df.dtypes:
    print(i)
    #if i == 'object':
    #    print(True)

object
float64
int64

# UFO

In [6]:
ufo = pd.read_csv('data/ufo.csv', sep=',')

ufo['Time'] = pd.to_datetime(ufo['Time'], dayfirst=True)

display(ufo['Time'])

0       1930-01-06 22:00:00
1       1930-06-30 20:00:00
2       1931-02-15 14:00:00
3       1931-01-06 13:00:00
4       1933-04-18 19:00:00
                ...
18236   2000-12-31 23:00:00
18237   2000-12-31 23:00:00
18238   2000-12-31 23:45:00
18239   2000-12-31 23:45:00
18240   2000-12-31 23:59:00
Name: Time, Length: 18241, dtype: datetime64[ns]

In [7]:
ufo['Time'].dt.year.value_counts()

1999    2774
2000    2635
1998    1743
1995    1344
1997    1237
        ...
1936       2
1930       2
1935       1
1934       1
1933       1
Name: Time, Length: 68, dtype: int64

In [64]:
mask = ufo['State'] == 'NV'
#display(ufo[mask])
dateview_filtered = ufo[mask]['Time'].dt.date
td=dateview_filtered.diff().mean()
#td.days
td

#ufo['Date'] = ufo['Time'].dt.date
#print(ufo[ufo['State']=='NV']['Date'].diff().dt.days.mean())

Timedelta('68 days 17:18:01.272084806')

## Headhunter

In [20]:
def get_experience(arg):
    str=arg.split(' ')
    yearname=['год','года','лет']
    monthname=['месяца','месяцев']
    years=0
    month=0    
    if (str[3] in yearname):
        years=int(str[2])
    if (str[-1] in monthname):
        month=int(str[-2])
    return years*12+month
test_series_1 = pd.Series([
            'Опыт работы 8 лет 3 месяца',
            'Опыт работы 3 года 5 месяцев',
            'Опыт работы 1 год 9 месяцев',
            'Опыт работы 3 месяца',
            'Опыт работы 6 лет'
        ])

test_series_2 = pd.Series([
            'Опыт работы 5 лет',
            'Опыт работы 5 месяцев',
            'Опыт работы 1 год 1 месяц',
            'Опыт работы 3 месяца',
            'Опыт работы 7 лет'
        ])

for i in test_series_1:
    print(i,' ',get_experience(i))

Опыт работы 8 лет 3 месяца   99
Опыт работы 3 года 5 месяцев   41
Опыт работы 1 год 9 месяцев   21
Опыт работы 3 месяца   3
Опыт работы 6 лет   72