In [2]:
import pandas as pd
data = pd.read_csv('wine.csv')

<i>country</i> — страна-производитель вина.<br>
<i>description</i> — подробное описание.<br>
<i>designation</i> — название виноградника, где выращивают виноград для вина.<br>
<i>points</i> — баллы, которыми WineEnthusiast оценил вино по шкале от 1 до 100.<br>
<i>price</i> — стоимость бутылки вина.<br>
<i>province</i> — провинция или штат.<br>
<i>region_1</i> — винодельческий район в провинции или штате (например Напа).<br>
<i>region_2</i> — конкретный регион. Иногда в пределах винодельческой зоны указываются более конкретные регионы (например Резерфорд в долине Напа), но это значение может быть пустым.<br>
<i>taster_name</i> — имя сомелье.<br>
<i>taster_twitter_handle</i> — твиттер сомелье.<br>
<i>title</i> — название вина, которое часто содержит год и другую подробную информацию.<br>
<i>variety</i> — сорт винограда, из которого изготовлено вино (например Пино Нуар).<br>
<i>winery</i> — винодельня, которая производила вино.<br>

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.9+ MB

In [4]:
#Сколько всего дегустаторов приняло участие в винных обзорах?
data.nunique()

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

In [5]:
#Какова максимальная цена за бутылку в этом наборе данных? Введите целое число.
data['price'].max()

3300.0

In [7]:
data.duplicated().value_counts()

False    119988
True       9983
dtype: int64

In [10]:
data = data.drop_duplicates()

In [11]:
data.duplicated().value_counts()

False    119988
dtype: int64

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119988 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                119929 non-null  object
 1   description            119988 non-null  object
 2   designation            85443 non-null   object
 3   points                 119988 non-null  int64
 4   price                  111593 non-null  float64
 5   province               119929 non-null  object
 6   region_1               100428 non-null  object
 7   region_2               46769 non-null   object
 8   taster_name            95071 non-null   object
 9   taster_twitter_handle  90542 non-null   object
 10  title                  119988 non-null  object
 11  variety                119987 non-null  object
 12  winery                 119988 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 12.8+ MB

In [13]:
# Первый способ — это вывести на экран названия столбцов, где число пропусков больше 0. 
# Для этого вычислим средний по столбцам результат метода isnull(). Получим долю пропусков в каждом столбце.
# Умножаем на 100 %, находим столбцы, где доля пропусков больше 0, сортируем по убыванию и выводим результат:

cols_null_percent = data.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent>0].sort_values(ascending=False)
display(cols_with_null)

region_2                 61.021936
designation              28.790379
taster_twitter_handle    24.540787
taster_name              20.766243
region_1                 16.301630
price                     6.996533
country                   0.049172
province                  0.049172
variety                   0.000833
dtype: float64

In [14]:
#создаем копию исходной таблицы
fill_data = data.copy()
#создаем словарь имя столбца: число(признак) на который надо заменить пропуски
values = {
    'region_2': 'unknown',
    'designation': 'unknown',
    'taster_twitter_handle': 'unknown',
    'taster_name': 'unknown',
    'region_1': 'unknown',
    'price': -1,
    'country': 'unknown',
    'province': 'unknown',
    'variety': 'unknown'
}
#заполняем пропуски в соответствии с заявленным словарем
fill_data = fill_data.fillna(values)
#выводим результирующую долю пропусков
fill_data.isnull().mean()

country                  0.0
description              0.0
designation              0.0
points                   0.0
price                    0.0
province                 0.0
region_1                 0.0
region_2                 0.0
taster_name              0.0
taster_twitter_handle    0.0
title                    0.0
variety                  0.0
winery                   0.0
dtype: float64