In [3]:
import pandas as pd
student_data = pd.read_csv('data\students_performance.csv', sep=',')

In [4]:
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

<i>gender — пол; <br>
race/ethnicity — раса/этническая принадлежность;<br>
parental level of education — уровень образования родителей;<br>
lunch — какие обеды получал студент во время обучения (standard — платный, free/reduced — бесплатный);<br>
test preparation course — посещал ли студент курсы подготовки к экзаменам (none — не посещал, completed — посещал);<br>
math score, reading score, writing score — баллы по математике, чтению и письму по сто балльной шкале.<br></i>

In [5]:
student_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [8]:
student_data.loc[155]['writing score']

88

In [15]:
student_data.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [16]:
dataTypeDict = dict(student_data.dtypes)
print('Data type of each column of Dataframe :')
print(dataTypeDict)

Data type of each column of Dataframe :
{'gender': dtype('O'), 'race/ethnicity': dtype('O'), 'parental level of education': dtype('O'), 'lunch': dtype('O'), 'test preparation course': dtype('O'), 'math score': dtype('int64'), 'reading score': dtype('int64'), 'writing score': dtype('int64')}

In [17]:
student_data['math score'].mean()

66.089

In [19]:
student_data['race/ethnicity'].mode()

0    group C
Name: race/ethnicity, dtype: object

In [24]:
mask=(student_data['test preparation course']=='completed')
student_data[mask]['reading score'].mean()

73.89385474860335

In [27]:
mask=(student_data['math score']==0)
student_data[mask].shape[0]

1

In [29]:
mask1=(student_data['lunch']=='standard')
mask2=(student_data['lunch']=='free/reduced')
print(student_data[mask1]['math score'].mean())
print(student_data[mask2]['math score'].mean())

70.03410852713178
58.92112676056338

In [31]:
student_data['parental level of education'].value_counts(normalize=True)*100

some college          22.6
associate's degree    22.2
high school           19.6
some high school      17.9
bachelor's degree     11.8
master's degree        5.9
Name: parental level of education, dtype: float64

In [1]:
mask_a=(student_data['race/ethnicity']=='group A')
mask_c=(student_data['race/ethnicity']=='group C')

st_median = student_data[mask_a]['writing score'].median() 
st_mean =  student_data[mask_c]['writing score'].mean()
print(round(abs(st_median - st_mean)))

NameError: name 'student_data' is not defined