In [1]:
string_1 = 'abc'
string_2 = 'ABC'

print(string_1 == string_2)

False

In [19]:
target_string = 'Шалаш'
target_string = target_string.lower()
if target_string == target_string[::-1] :
        result = True
else:
        result = False
        
result

True

In [8]:
x = 10
y = 100
z = (x % 2 == 0) and (y >= 100)
v = (x % 2 == 0) or (y >= 100)
w = not(x % 2 == 0) or not(y >= 100)
z,v,w

(True, True, False)

In [1]:
a = [1,2,3]
b = a
c = [1,2,3]
print(a == b, a == c, a is b, a is c)

True True True False

In [ ]:
x, y = 'F', 7 

move_is_correct = False
if x in ['A','B','C','D','E','F','G','H'] and y in [1,2,3,4,5,6,7,8]:
    move_is_correct = True

In [12]:
s = 5
a = 10
if a > 0:
   s = s + a
else:
   s = s - a
 
print(s)

15

In [13]:
result = 10
my_dict = {'key_1': 10}
item = my_dict.pop('key_1')
if my_dict:
    result = result + item
else:
    result = result + 1
 
print(result)

11

In [ ]:
lst = ['a', 'b', 'c']

if 'f' in lst:
    x = 5
else:
    x = None

In [16]:
date = '16.04.2019 15:59'
# category = 2

#date = '12.05.2019 08:42'
# category = 1

#date = '05.07.2018 20:15'
# category = 3


# Разделяем строку на части по пробелу и берем первую из них
day_month_year = date.split(' ')[0]
# Разделяем строку по символу '.' и создаем соответствующие переменные
day, month, year = day_month_year.split('.')
# Проверяем, что резюме обновлено в 2019 году
#print (year)
#print (month)
if int(year) == 2019:
    # Проверяем, что резюме обновлено в мае
    if month == 5:
        # Присваиваем 1-ую категорию
        category = 1
    else:
        # Присваиваем 2-ую категорию
        category = 2
else:
    # Присваиваем 3-ью категорию
    category = 3
    #print (day,month,year,category)
print(category)

2

In [2]:
one = [1, "2", 3, "4"]
two = ("a", "b", "c", "d")

In [8]:
three = one + two

TypeError: can only concatenate list (not "tuple") to list

In [15]:
my_lst = [0,1,2,3,4,5]
my_lst = my_lst[:-1]
my_lst

[0, 1, 2, 3, 4]

In [32]:
my_dict = {'qwer':'asdf',
           'zxcv' : 'aasdas',
           'abcd' : 'zzzz'}
#my_dict = sorted(my_dict.keys())

#my_dict

In [24]:
config = {
    "server": {
        "host": "127.0.0.1",
        "port": "22"
    },
    "configuration": {
        "ssh": {
            "access": True,
            "login": "some",
            "password": "some"
        },
        "name": "2491Oaaf1414"
    }
}
config['configuration']['ssh']['login']

'some'

In [36]:
for key, value in my_dict.values():
    print(key, value)

ValueError: too many values to unpack (expected 2)

In [40]:
s = 'PY-10. Введение в Pandas'

s.replace(' ', '')

'PY-10.ВведениевPandas'

In [44]:
temperature = 40
remaining_time = 12

r'Температура: {temperature}, оставшееся время: {remaining_time}'

'Температура: {temperature}, оставшееся время: {remaining_time}'

In [48]:
s = '321313c2312'

s.isnumeric()

False

In [56]:
def test(x):
    x = 1

test(2)

In [59]:
# Функция чтения данных
def read_data():
    data = open('war_peace_processed.txt', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):  
    new_dict = dict() 
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
data = read_data()
freq('война')

51

In [69]:
cities=['123','345','456']
arg = '123'
lambda    : arg if arg in cities else 0
lambda arg: arg if arg in cities else 0

In [71]:
import numpy
z =numpy.zeros((3, 4))
z

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [79]:
import pandas as pd

# создаем датафрейм
data = {'user_id': [1, 1, 2, 2, 2, 3, 3, 3, 3, 4], 
        'action': ['login', 'search', 'search', 'login', 'buy', 'buy', 'search', 'search', 'buy', 'login']}
users = pd.DataFrame(data)

users.groupby('user_id')['action'].count().sort_values(ascending=False).iloc[:5]

user_id
3    4
2    3
1    2
4    1
Name: action, dtype: int64

In [97]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}


def apply_discounts(products, stocks):
    for product in products:
        #print (product,products[product])
        if product in stocks:
            p=int(stocks[product][:-1])
            products[product]=round((products[product] * (100-p)) /100,2)
    return products
    
        
        

apply_discounts(products,stocks)

{'Oranges (packaged)': 114.99,
 'Candy (Rotfront)': 280.0,
 'Boiled sausage': 133.99,
 'Juice J7 (orange)': 105.59,
 'Trout (Seven Seas)': 327.99}

In [93]:
a = '2510%'
int(a[:-1])

2510